h1 {
    text-align: center;
}

.btn {
    background-color: #800080;
    border-color: black;
    margin-top: 2em;
}

.timer {
    text-align: center;
}

#answer3 #answer2 #answer1 {
    margin-bottom: 2em;
}


